<mat-toolbar color='primary'>
  <span>{{ title }}</span>
  <span class="spacer"></span>
</mat-toolbar>
<div cdkDropListGroup class="store">
  <section 
    class="section-container"
    cdkDropList
    [cdkDropListData]="products"
    (cdkDropListDropped)="drop($event)">
    <h1>Products</h1>
    <div class="products">
      <mat-card class="card" *ngFor="let product of products" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.image" [alt]="product.title">
        <mat-card-content>
          <p>
            {{ product.description }}
          </p>
          <p>
            Price: {{ product.price }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  <section 
    class="section-container"
    cdkDropList
    [cdkDropListData]="cart"
    (cdkDropListDropped)="drop($event)"
  >
    <h1>Shopping Cart</h1>
    <div class="shopping-cart">
      <mat-card class="card" *ngFor="let item of cart" cdkDrag>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.image" [alt]="item.title">
        <mat-card-content>
          <p>
            {{ item.description }}
          </p>
          <p>
            Price: {{ item.price }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <button type="button" mat-raised-button color="primary" (click)="buy()">Comprar</button>
  </section>
</div>
<div *ngIf="itemsToBuy" class="message"> 
  <h2>{{ message }}</h2>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of cart">{{ item.title }}</mat-list-item>
  </mat-list>
</div>